<ion-header>
  <ion-toolbar>
    <ion-title>
      Filtro
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="closeModal(-1)">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <!-- Lista de tipos de Pokemon -->
  <ion-list lines="full">
    <ion-item [color]="pokemonType.selected ? 'primary' : ''" *ngFor="let pokemonType of pokemonTypeArray" (click)="applyFilter(pokemonType.id)">
      <ion-label>{{ pokemonType.nombre }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
