ion-toolbar {

    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
}

ion-content {
    ion-card {
        .section-sprites {

            text-align: center;
        }
    }
}