<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ pokemon.nombre }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="closeModal(-1)">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <section class="section-sprites">
      <img [src]="pokemon.sprite_front_default" />
      <img [src]="pokemon.sprite_back_default" /><br>
      <img [src]="pokemon.sprite_front_shiny" />
      <img [src]="pokemon.sprite_back_shiny" /><br>
      <img [src]="pokemon.sprite_front_female" />
      <img [src]="pokemon.sprite_back_female" /><br>
      <img [src]="pokemon.sprite_front_shiny_female" />
      <img [src]="pokemon.sprite_back_shiny_female" />
    </section>

    <ion-card-header>
      <ion-card-subtitle>ID: {{ pokemon.id }}</ion-card-subtitle>
      <ion-card-title>{{ pokemon.nombre }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p><strong>Base experience: </strong> {{ pokemon.base_experience }}</p>
      <p><strong>Height: </strong> {{ pokemon.height }}</p>
      <p><strong>Forms: </strong> <span *ngFor="let form of pokemon.forms; let i = index">{{ form.name }}<span *ngIf="i != pokemon.forms.length - 1">, </span></span></p>
      <p><strong>Moves: </strong> <span *ngFor="let move of pokemon.moves; let i = index">{{ move.move.name }}<span *ngIf="i != pokemon.moves.length - 1">, </span></span></p>
      <p><strong>Types: </strong> <span *ngFor="let type of pokemon.types; let i = index">{{ type.type.name }}<span *ngIf="i != pokemon.types.length - 1">, </span></span></p>
    </ion-card-content>
  </ion-card>

</ion-content>
