ion-toolbar {

  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);

  ion-title {
    padding-left: 0.55em;
    text-align: left;
  }
}

ion-list {
  ion-item {
    .pokemon-img {
      padding-right: 20px;
    }
  }
}

ion-infinite-scroll {
  margin-top: 25px;
}