<ion-header>
  
  <ion-toolbar>

    <ion-title>
      Pokédex {{ this.length }} / {{ this.maxLength }}
    </ion-title>

    <ion-buttons slot="end">

      <ion-button color="secondary" (click)="showFilter()">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    
  </ion-toolbar>

</ion-header>

<ion-content>
    
  <!-- Lista de Pokemon -->
  <ion-list lines="full">
    <ion-item *ngFor="let pokemon of pokemonArray" (click)="loadPokemonDetail(pokemon.id)">
      <img class="pokemon-img" [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + pokemon.id + '.png'">
      <ion-label>{{ pokemon.nombre }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMorePokemon($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Localizando más pokemon...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- Scroll to top -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
